In [3]:
#Tuples - Similar to lists but IMMUTABLE

my_tup = (1,2,3)
my_tup

(1, 2, 3)

In [4]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [7]:
my_tup1 = (1,2,3.0,'four','FIVE')
my_tup1

(1, 2, 3.0, 'four', 'FIVE')

In [8]:
t = ('a','a','b','a','b','a','b','b','c')
t

('a', 'a', 'b', 'a', 'b', 'a', 'b', 'b', 'c')

In [9]:
t.count('a') #Number of occurances of 'a'

4

In [10]:
t.index('b') #First occurance of 'b'

2

In [11]:
my_list[0] = 'ONE'
my_list

['ONE', 2, 3]

In [12]:
my_tup[0]

1

In [13]:
my_tup[0] = 'ONE' #Error

TypeError: 'tuple' object does not support item assignment

In [14]:
#SETS - Unordered collection of unique elements

myset = set()

In [15]:
myset

set()

In [16]:
myset.add(1)

In [17]:
myset

{1}

In [18]:
myset.add(2)

In [19]:
myset

{1, 2}

In [20]:
l = [1,2,2,3,3]
l

[1, 2, 2, 3, 3]

In [21]:
set(l) #Casting a list to set to get only unique elements

{1, 2, 3}

In [22]:
#BOOLEAN - True/False

False

False

In [23]:
True

True

In [24]:
1 > 2

False

In [26]:
2 == 2

True

In [27]:
type(2==2)

bool